<p id="notice"><%= notice %></p>

<p>
  <b>Sender:</b>
  <%= @message.sender_id %>
</p>

<p>
  <b>Recipient:</b>
  <%= @message.recipient_id %>
</p>

<p>
  <b>Time:</b>
  <%= @message.time %>
</p>

<p>
  <b>Read:</b>
  <%= @message.read %>
</p>

<p>
  <b>Type:</b>
  <%= @message.type %>
</p>

<p>
  <b>Message:</b>
  <%= @message.message %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
