<!-- Should also contain: match percentage, one of their interests.  Styling. -->
<li>
  <%= image_tag user.avatar.url(:thumb) %>
  <%= link_to user.name, user %>
  <%= "A: #{age(user.dob)}" %>
  <%= "S: #{user.gender}" %>
  <%= "L: #{user.location}" %>
</li>