<% content_for :sidebar do %>
  
  <%= error_messages_for( @user ) %> 
<% end -%>
  

<%= form_for @user, :html => { :multipart => true } do |f| %>
  <h2>Profile Information</h2>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :dob, "Date of Birth" %><br />
    <%= f.date_select :dob, :start_year => 1940,
                            :end_year => (Time.now.year - 18),
                            :include_blank => true %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  
  <div class="field">
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter %>
  </div>

  <div class="field">
    <%= f.label :about, "About Me" %><br />
    <%= f.text_area :about %>
  </div>
  <br />
  <h2>Account Information</h2>
  <p>For security purposes, please enter your password before submitting any changes.</p>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <section class="notice">
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Confirmation" %><br />
      <%= f.password_field :password_confirmation %>
    </div>
  </section>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>



