<% content_for :sidebar  do %>
  <h2><%= @user.name %></h2>
  <div id='avatar_side'>
    <%= image_tag @user.avatar.url(:medium) %>
  </div>

  <ul id="info_side">
    <strong>Age</strong>
    <li><%= age(@user.dob) %></li>
    <strong>Gender</strong>
    <li><%= sanitize(@user.gender) %></li>
    <strong>Location</strong>
    <li><%= sanitize(@user.location) %></li>
    <strong>Match stats</strong>
    <li><%= render 'shared/match_stats' %></li>
    <br />
    <% unless @current_user.id == @user.id %>
      <strong>Match &#37;</strong>
      <li>[0..100%]</li>
      <% if @current_user.match?(@user) %>
        <li><%= render 'remove_match' %></li>
      <% else %>
        <li><%= render 'add_match' %></li>
      <% end %>  
    <% end %>

<% end %>




  
<h3>About Me</h3>
<p><%= @user.about.nil? ? default_about_me : sanitize(@user.about) %><p>