<% content_for :sidebar  do %>
  <h2><%= @user.name %></h2>
  <div id='avatar_side'>
    <%= image_tag @user.avatar.url(:medium) %>
  </div>

  <ul id="info_side">
    <strong>Age</strong>
    <li><%= age(@user.dob) %></li>
    <strong>Gender</strong>
    <li><%= sanitize(@user.gender) %></li>
    <strong>Location</strong>
    <li><%= sanitize(@user.location) %></li>
    <strong>Match stats</strong>
    <li><%= render 'shared/match_stats' %></li>
    <br />
    <% unless @current_user.id == @user.id %>
      <strong>Match &#37;</strong>
      <li>[0..100%]</li>
      <% if @current_user.match?(@user) %>
        <li><%= render 'remove_match' %></li>
      <% else %>
        <li><%= render 'add_match' %></li>
      <% end %>  
    <% end %>

<% end %>

<% content_for :header do %>
<style>
	.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 500px;
}

.gmaps4rails_map {
  width: 800px;
  height: 400px;
}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}
</style>
<%= yield :head %>
<%= yield :scripts %>
  <nav>
    <ul>
      <li><%= link_to "Home",             home_user_path(session[:user_id] ) %></li>
      <li><%= link_to "Edit profile",     edit_user_path(session[:user_id] ) %></li>
      <li><%= link_to "Inbox",            '#'                                %></li>       
      <li><%= link_to "Find New Matches", new_interest_path                  %></li>
      <li><%= link_to "Search",           '#'                                %></li>
      <li><%= link_to "Log Out", :controller => 'users', :action => 'destroy', :id => session[:user_id]  %></li>



  
<h3>About Me</h3>
<p><%= @user.about.nil? ? default_about_me : sanitize(@user.about) %><p>

<% if (@user.twitter) then %>
<h3>Your Latest Tweet:</h3>
<%= Twitter.user_timeline(@user.twitter).first.text %>
<% end -%>
<br /><br />
<h3>Location:</h3>
<%= gmaps4rails(@json) %>
