<div class="signup">
<%= form_for(User.new ) do |f| %>
    <%= f.text_field :name, :placeholder => 'Name' %>

    <%= f.text_field :email, :placeholder => 'Email'%>



    <%= f.password_field :password, :placeholder => 'Password' %>



    <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation"  %>


<div class="field">
    <%= f.button "Sign up", :class => 'btn btn-primary' %>
</div>

<% end %>
</div>