<%= form_for(:user, :url => {:action => 'create', :controller => 'users'}) do |f| %>
  <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :size => 20 %>
  </div>
  <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, :size => 20  %>
  </div>
  <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, :size => 20  %>
  </div>
  <div class="field">
      <%= f.label :password_confirmation%>
      <%= f.password_field :password_confirmation, :size => 20  %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up"%>
  </div>
<% end %>