<!-- Should also contain: match percentage, one of their interests.  Styling. -->
<div id="user-card" class="span4 well">
  <div class="row">

    <div class="span2">
      <%= image_tag user.avatar.url(:medium) %>
              <%= form_for User.find(session[:user_id]).relationships.build(:match_id => user.id) do |f| %>
          <div><%= f.hidden_field :match_id %></div>
          <%= f.button "Add", :class => 'btn btn-success btn-mini' %>
        <% end %>      
    </div>

    <div class="span2">
      <h2><%= link_to user.name, user %> </h2>

      
      <q><%= user.status %></q>
      <ul id="user-ul">
        <h4><li><i class="icon-gift"></i>
            <%=age(user.dob)%></li></h4>

        <h4><li><i class="icon-flag"></i>
            <%=user.gender%></li></h4>
      
        <h4><li><i class="icon-screenshot"></i>
            <%=user.location%></li></h4>
      
      </ul>  

        <h3><%=user.match_percentage(User.find(session[:user_id]))%>%</h3>    
    </div>

  </div>
</div>