<% content_for :header do %>
  <nav>
    <ul>
      <li><%= link_to "Home",             home_user_path(session[:user_id] ) %></li>
      <li><%= link_to "View profile",     user_path(session[:user_id] ) %></li>
      <li><%= link_to "Inbox",            '#'                                %></li>       
      <li><%= link_to "Find New Matches", '#'                                %></li>
      <li><%= link_to "Search",           '#'                                %></li>
      <li><%= link_to "Matches",          '#'                                %></li>
      <li><%= link_to "Log Out", 
                                 :controller=> 'users',
                                 :action=> 'destroy',
                                 :id => session[:user_id]                    %></li>

    </ul>
  </nav>
<% end -%>

<h2>Your current status: <br></h2>
	<h3><%= @status %></h3> 
<%= render('users/update_status') %>
<%= render('timeline/list') %>


<% content_for :header do %>
  <%= link_to "Edit profile", edit_user_path(session[:user_id] ) %>
<% end -%>

<% content_for :sidebar  do %>
  <h2><%= @user.name %></h2>
  <div id='avatar_side'>
    <%= image_tag @user.avatar.url(:medium) %>
  </div>
<% end %>