<% if @status.nil? %>
  <h2>You have no status message.</h2>
<% else %>
  <h2>Your current status: <br></h2>
  <h3><%= @status %></h3> 
<% end %>
<%= render('users/update_status') %>
<%= render('timeline/list') %>




<% content_for :sidebar  do %>
  <h2><%= @user.name %></h2>
  <div id='avatar_side'>
    <%= image_tag @user.avatar.url(:medium) %>
  </div>

    <ul id="info_side">
    <strong>Age</strong>
    <li><%= age(@user.dob) %></li>
    <strong>Gender</strong>
    <li><%= @user.gender %></li>
    <strong>Location</strong>
    <li><%= @user.location %></li>
    <strong>Match stats</strong>
    <li><%= render 'shared/match_stats' %></li>
    <br />
<% end %>