
  <nav>
    <ul>
      <li><%= link_to "Home",             home_user_path(session[:user_id] ) %></li>
      <li><%= link_to "View profile",     user_path(session[:user_id] ) %></li>
      <li><%= link_to "Inbox",            '#'                                %></li>       
      <li><%= link_to "Find New Matches", '#'                                %></li>
      <li><%= link_to "Search",           '#'                                %></li>
      <li><%= link_to "Matches",          '#'                                %></li>
      <li><%= link_to "Log Out", 
                                 :controller=> 'users',
                                 :action=> 'destroy',
                                 :id => session[:user_id]                    %></li>

    </ul>
  </nav>

<h2>Your current status: <br></h2>
	<h3><%= @status %></h3> 
<%= render(:partial => 'users/update_status', :formats => 'html') %>
<%= render(:partial => 'timeline/list', :formats => 'html') %>

