<% content_for :heading do %>
<div class="page-header">
    <h1><%= @user.name %>
    <small><%= @user.status %></small>
  </h1>        
</div>
<% end -%>

<% content_for :sidebar  do %>

  <% user = @user %>
  <%= render user %>
  
  <div class="span4 well">
    <%= image_tag @map_string %>
  </div>

<% end %>
<!-- Rest of content renders into main right section -->
  

<h2>About Me</h2>
<div class="well">
  <p><%= markdown( @user.about ) %><p>
</div>

<h2>About My Partner</h2>
<div class="well">
  <p><%= markdown( @user.looking_for ) %></p>
</div>

  <h2>
    Interests
    <%= link_to_if( @current_user.id == @user.id, "(edit)", new_interest_path ) {} %>
  </h3>
<div class="well">
  <%= render 'user_interests' %>
</div>




