<% content_for :heading do %>
<div class="page-header">
    <h1><%= @user.name %>
    <small><%= @user.status %></small>
  </h1>        
</div>
<% end -%>

<% content_for :sidebar  do %>

  <%= render 'users/user' %>
  <%= image_tag @map_string %>

<% end %>
<!-- Rest of content renders into main right section -->
  
<!-- about me -->
<h3>I am...</h3>
<p><%= @user.about.nil? ? default_about_me : sanitize(@user.about) %><p>

  <!-- looking for -->
<h3>I am looking for...</h3>
<p><%= @user.looking_for %></p>

<!-- interests -->
<section>
  <h3>
    Interests
    <%= link_to_if( @current_user.id == @user.id, "Edit", new_interest_path ) {} %>
  </h3>
  <%= render 'user_interests' %>
</section>




