<div class="container">

  <div class="sidebar">
      <% flash.each do |key,value| %>
        <div class="flash <%= key %>"><%= value %> </div>
      <% end -%>
    <div class="signup">
      <%= render 'shared/sign_up' %> 
      <h3>Log in</h3>
        <p>render 'shared/log_in'</p>
    </div>


    <div class="footer">
      <%= link_to "about", about_path %>
       / 
      <%= link_to "help", help_path %>
    </div>
  </div>

  <div class="main">
    


    <div class = "banner"><%= link_to banner, root_path %></div>
    <div class="information">
      <div class="info_box">
        Sample Image 1
      </div>
      <div class="info_box">
        Sample Image 2
      </div>
      <div class="info_box">
        Sample Image 3
      </div>
    </div>

  </div>

  </div>

</div>
