<div class="container">

  <div class="sidebar">
    <div class="signup">
      <h3>
        <%= link_to "Log in", '#' %>
         / 
        <%= link_to "Sign up", new_users_path %>
      </h3>
      <p>Use JQuery here to toggle between signing in and signing up.</p>
    </div>

    <div class="footer">
      <%= link_to "about", about_path %>
       / 
      <%= link_to "help", help_path %>
    </div>
  </div>

  <div class="main">

    <div class = "banner"><%= link_to banner, root_path %></div>
    <div class="information">
      <div class="info_box">
        Sample Image 1
      </div>
      <div class="info_box">
        Sample Image 2
      </div>
      <div class="info_box">
        Sample Image 3
      </div>
    </div>

  </div>

  </div>

</div>
