<div id="logo">
  <% if session[:user_id].nil? %>
    <%=  link_to logo, root_path %>
  <% else %>
    <%= link_to logo, home_user_path(session[:user_id]) %>
  <% end %>
</div>
      

<div id="header-content">
  <% if session[:user_id] %>
  <nav>
    <ul>
      <li><%= link_to "Home",               home_user_path(session[:user_id] ) %></li>
      <li><%= link_to "Show your profile",  user_path(session[:user_id] )      %></li>    
      <li><%= link_to "Edit your profile",  edit_user_path(session[:user_id] ) %></li>
      <li><%= link_to "Inbox",              inbox_path      %></li>       
      <li><%= link_to "Find New Matches",   find_matches_user_path(session[:user_id])                   %></li>
      <li><%= link_to "Log Out",            root_path                          %></li>
    </ul>
  </nav>
  <% else %>
    <div id="login">
      <%= render( :partial => 'sessions/login' ) %>  
    </div>
  <% end %>
</div>