<h1>Answer Questions - Have Coitus</h1>

<%= form_for(:interest, :as => :post, :url => interests_path(@user)) do |f| %>
  <div class="field">
    <%= f.label :question %>
    <h3>Do you like pasta?</h3>
    <%= f.check_box :pasta, {}, 'likes_pasta', 'dislikes_pasta' %>
  </div>

  <div class="field">
    <%= f.label :question %>
    <h3>Are you a pet lover?</h3>
    <%= f.check_box :pets, {}, 'likes_pets', 'dislikes_pets' %>
  </div>

  <div class="field">
    <%= f.label :question %>
    <h3>Do you eat meat?</h3>
    <%= f.check_box :meat, {}, 'eats_meat', 'vegetarian' %>
  </div>

  <div class="actions">
    <%= f.submit "Find matches" %>
  </div>
<% end %>