<h2>Add some interests to get more matches</h2>
<%= form_for(:interest, :as => :post, :url => interests_path(@user)) do |f| -%>
<div class="field">
  <%= f.label :name, 'Interest' %>
  <%= f.text_field :name %>
</div>

<div class="actions">
  <%= f.submit "Add" %>
</div>
<% end -%>


<br />
<h3>Current interests</h3>
<%= render 'users/user_interests' %>

<% content_for :sidebar do %>
  <h3>Can't think of anything?</h3>
  <p>Here are some interests entered by other users of <em>Coitus Cupid</em></p>
  <%= render 'random_interests' %>
<% end -%>


