<a href="<%= matches_user_path(@user) %>">
  <strong >
    <%= @user.matches.count %>
  </strong>
  <%= "people wanted by #{@user.name}" %>
</a>
<br />
<a href="<%= interested_user_path(@user) %>">
  <strong>
    <%= @user.interested_users.count %>  
  </strong>
  <%= "people want #{@user.name}" %>
</a>