<h2>Sign up</h2>

<%= form_for(User.new) do |f| %>
  <%= render 'shared/errors' %>
  <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :size => 20 %>
  </div>
  <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, :size => 20  %>
  </div>
  <div class="field">
      <%= f.label :password %>
      <%= f.text_field :password, :size => 20  %>
  </div>
  <div class="field">
      <%= f.label :password_confirmation%>
      <%= f.text_field :password_confirmation, :size => 20  %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up"%>
  </div>
<% end %>