<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- include the blueprint framework -->
  <%= stylesheet_link_tag    'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag    'blueprint/print', :media => 'print' %>

  <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'blueprint/ie' %>
  <![endif]-->

  <%= stylesheet_link_tag    "custom", :media => "all" %>

</head>
<body>

<%= yield %>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
