<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- include the blueprint framework -->
  <%= stylesheet_link_tag    'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag    'blueprint/print', :media => 'print' %>

  <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'blueprint/ie' %>
  <![endif]-->

  <%= stylesheet_link_tag    "custom", :media => "all" %>

</head>
<body>
<div id="container">
    
  <div id="header">
    <div id="logo">
      <% if session[:user_id].nil? %>
        <%=  link_to logo, root_path %>
      <% else %>
        <%= link_to logo, home_user_path(session[:user_id]) %>
      <% end %>
    </div>
      

    <div id="header-content">
      <% if session[:user_id] %>
        <nav>
          <ul>
            <li><%= link_to "Home",             home_user_path(session[:user_id] ) %></li>
            <li><%= link_to "Show your profile",     :action => 'show', :id => session[:user_id] %></li>    
            <li><%= link_to "Edit your profile",     edit_user_path(session[:user_id] ) %></li>
            <li><%= link_to "Inbox",            inbox_path                                %></li>       
            <li><%= link_to "Find New Matches", :action => 'outbox', :controller => 'messages'                  %></li>
            <li><%= link_to "Log Out", root_path  %></li>
          </ul>
        </nav>


      <% else %>
        <div id="login">
          <%= render( :partial => 'sessions/login' ) %>  
        </div>
      <% end %>
    </div>
        </div>


    <div id="messages">
      <%= render( :partial => 'shared/flash_messages' ) %>
    </div>

    <div id="sidebar">
      <%= yield :sidebar %>      
    </div>

    <div id="main">   
      <%= yield %>
    </div>

    <div id="footer">
      <%= yield :footer %>
    </div>

  </div>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
