<header>
	<%= if session[:user_id].nil? %>
  		<%=  link_to logo, root_path %>
  	<%= else %>
  		<%= link_to logo, :url => {:controller => 'users', :id => session[:user_id], :action => 'home'} %>
  	<% end %>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Edit Profile", ed %></li>
        <li><%= link_to "Sign in", user_path %></li>
      </ul>
    </nav>
</header>